.main_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-img-top {
  width: 100px;
  border-radius: 50%;
  margin: 0 auto;
}
.card {
  background-color: rgb(82, 148, 126);
}
.id {
  background-color: rgb(114, 134, 97);
  width: 100%;
  padding: 5px;
}
